<!-- ==============================================================================================================================================================
                                                        Applied Applications Cards Design 1 And 2 
=============================================================================================================================================================== -->
<div class="applied-application-body">
    <h2 class="alllead">
        Applied Applications </h2>
    <div class="apply-button-section">
        <button class="btn"><i class="material-icons" matTooltip="Add New Application">add</i></button>
    </div>
    <div class="custom-grid">
        <!-- =========================== Card 1 Design ============================== -->
        <ng-container *ngFor="let a of [1,2]">
            <div class="card application-cards">
                <div class="card-body application-card-body">
                    <div class="student-image-section">
                        <div class="profile-img-box">
                            <!-- <i class="material-icons student-default-image">account_circle</i> -->
                            <img src="https://assets.webiconspng.com/uploads/2016/12/User-Icon.png"
                                class="student-image" alt="student image">
                            <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                            <!-- <i class="material-icons">edit</i> -->
                        </div>
                    </div>
                    <h3 class="student-name">Jenil Patel</h3>
                    <p class="branch-name"><span class="badge badge-success">Hydarabad</span></p>
                    <div class="student-details-section">
                        <i class="material-icons">class</i>
                        <p>V ~ Day School</p>
                    </div>
                    <div class="student-details-section">
                        <i class="material-icons">email</i>
                        <p>Test@gmail.com</p>
                    </div>
                    <div class="student-details-section">
                        <i class="material-icons">call</i>
                        <p>3214569872</p>
                    </div>
                    <div class="student-details-section">
                        <i class="material-icons">date_range</i>
                        <p>2022 - 2023</p>
                    </div>
                    <div class="button-section">
                        <button class="btn btn-sm fill-details-button">Fill Details</button>
                    </div>
                    <button class="btn edit-button-1"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </ng-container>

        <!-- =========================== Card 2 Design ============================== -->
        <ng-container *ngFor="let a of [1,2]">
            <div class="card application-cards-2">
                <div class="card-body application-card-body">
                    <div class="student-image-section">
                        <div class="profile-img-box">
                            <!-- <i class="material-icons student-default-image">account_circle</i> -->
                            <img src="https://assets.webiconspng.com/uploads/2016/12/User-Icon.png"
                                class="student-image-2" alt="student image">
                            <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                        </div>
                    </div>
                    <h3 class="student-name-2">Jenil Patel</h3>
                    <div class="user-details-box">
                        <div class="student-details-section-2">
                            <i class="material-icons">class</i>
                            <p>V ~ Day School</p>
                        </div>
                        <div class="student-details-section-2">
                            <i class="material-icons">email</i>
                            <p>Test@gmail.com</p>
                        </div>
                        <div class="student-details-section-2">
                            <i class="material-icons">call</i>
                            <p>3214569872</p>
                        </div>
                        <div class="student-details-section-2">
                            <i class="material-icons">date_range</i>
                            <p>2022 - 2023</p>
                        </div>
                        <div class="student-details-section-2">
                            <i class="material-icons">location_pin</i>
                            <p>Hydarabad</p>
                        </div>
                    </div>
                    <div class="button-section">
                        <button class="btn btn-sm fill-details-button-2">Fill Details</button>
                    </div>
                    <button class="btn edit-button-1"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </ng-container>

        <!-- =========================== Card 3 Design ============================== -->
        <ng-container *ngFor="let a of [1,2]">
            <div class="card application-cards-2">
                <div class="card-body application-card-body">
                    <div class="student-image-section">
                        <div class="profile-img-box">
                            <!-- <i class="material-icons student-default-image">account_circle</i> -->
                            <img src="https://assets.webiconspng.com/uploads/2016/12/User-Icon.png"
                                class="student-image-2" alt="student image">
                            <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                        </div>
                    </div>
                    <h3 class="student-name-2">Jenil Patel</h3>
                    <p class="branch-name"><span class="badge badge-success">Hydarabad</span></p>
                    <div class="user-details-box">
                        <div class="student-details-section-2">
                            <i class="material-icons">class</i>
                            <p>V ~ Day School</p>
                        </div>
                        <div class="student-details-section-2">
                            <i class="material-icons">email</i>
                            <p>Test@gmail.com</p>
                        </div>
                        <div class="student-details-section-2">
                            <i class="material-icons">call</i>
                            <p>3214569872</p>
                        </div>
                        <div class="student-details-section-2">
                            <i class="material-icons">date_range</i>
                            <p>2022 - 2023</p>
                        </div>
                    </div>
                    <div class="button-section">
                        <button class="btn btn-sm fill-details-button-2">Fill Details</button>
                    </div>
                    <button class="btn edit-button-1"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </ng-container>

        <!-- =========================== Card 4 Design ============================== -->
        <ng-container *ngFor="let a of [1,2]">
            <div class="card application-cards-4">
                <div class="card-body application-card-body">
                    <div class="student-image-section">
                        <div class="profile-img-box">
                            <!-- <i class="material-icons student-default-image">account_circle</i> -->
                            <img src="https://assets.webiconspng.com/uploads/2016/12/User-Icon.png"
                                class="student-image-2" alt="student image">
                            <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                        </div>
                    </div>
                    <h3 class="student-name-2">Jenil Patel</h3>
                    <p class="branch-name"><span class="badge badge-success">Hydarabad</span><span>2022-2023</span></p>
                    <div class="user-details-box-4">
                        <div class="student-details-section-4">
                            <i class="material-icons">menu_book</i>
                            <p>V ~ Day School</p>
                        </div>
                        <div class="student-details-section-4">
                            <i class="material-icons">email</i>
                            <p>Test@gmail.com</p>
                        </div>
                        <div class="student-details-section-4">
                            <i class="material-icons">call</i>
                            <p>3214569872</p>
                        </div>
                    </div>
                    <div class="button-section">
                        <button class="btn btn-sm fill-details-button-2">Fill Details</button>
                    </div>
                    <button class="btn edit-button-1"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </ng-container>

        <!-- =========================== Card 5 Design ============================== -->
        <ng-container *ngFor="let a of [1,2]">
            <div class="card application-cards-4">
                <div class="card-body application-card-body">
                    <div class="student-image-section">
                        <div class="profile-img-box">
                            <!-- <i class="material-icons student-default-image">account_circle</i> -->
                            <img src="https://assets.webiconspng.com/uploads/2016/12/User-Icon.png"
                                class="student-image-2" alt="student image">
                            <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                        </div>
                    </div>
                    <h3 class="student-name-2">Jenil Patel</h3>
                    <p class="branch-name"><span class="badge badge-success">Hydarabad</span><span>2022-2023</span></p>
                    <div class="user-details-box-4">
                        <div class="student-details-section-4">
                            <i class="material-icons icon-design">menu_book</i>
                            <p>V ~ Day School</p>
                        </div>
                        <div class="student-details-section-4">
                            <i class="material-icons icon-design">email</i>
                            <p>Test@gmail.com</p>
                        </div>
                        <div class="student-details-section-4">
                            <i class="material-icons icon-design">call</i>
                            <p>3214569872</p>
                        </div>
                    </div>
                    <div class="button-section">
                        <button class="btn btn-sm fill-details-button-2">Fill Details</button>
                    </div>
                    <button class="btn edit-button-1"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </ng-container>

        <!-- =========================== Card 6 Design ============================== -->
        <ng-container *ngFor="let a of [1,2]">
            <div class="card application-cards">
                <div class="card-body application-card-body-5">
                    <div class="student-image-section-5">
                        <div class="profile-img-box">
                            <!-- <i class="material-icons student-default-image">account_circle</i> -->

                            <!-- <img src="https://assets.webiconspng.com/uploads/2016/12/User-Icon.png"
                                class="student-image-5" alt="student image"> -->
                            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/student-5266576-4403850.png"
                                class="student-image-5" alt="student image">
                            <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                        </div>
                        <h3 class="student-name-5">Jenil Patel</h3>
                        <p class="branch-name-5"><span
                                class="badge badge-success">Hydarabad</span><span>2022-2023</span>
                        </p>
                    </div>
                    <div class="user-details-box-4">
                        <div class="student-details-section-5">
                            <i class="material-icons">menu_book</i>
                            <p>V ~ Day School</p>
                        </div>
                        <div class="student-details-section-5">
                            <i class="material-icons">email</i>
                            <p>Test@gmail.com</p>
                        </div>
                        <div class="student-details-section-5">
                            <i class="material-icons">call</i>
                            <p>3214569872</p>
                        </div>
                    </div>
                    <div class="button-section mb-3">
                        <button class="btn btn-sm fill-details-button-2">Fill Details</button>
                    </div>
                    <button class="btn edit-button-1"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </ng-container>

        <!-- =========================== Card 7 Design ============================== -->
        <ng-container *ngFor="let a of [1,2]">
            <div class="card application-cards">
                <div class="card-body application-card-body-5">
                    <div class="student-image-section-6">
                        <div class="profile-img-box" style="margin: -60px  auto 0 auto;">
                            <!-- <i class="material-icons student-default-image"
                                style="outline: 7px solid #F1F1F1; border-radius: 50%;">account_circle</i> -->
                            <!-- <img src="https://assets.webiconspng.com/uploads/2016/12/User-Icon.png"
                                class="student-image-5" alt="student image" style="outline: 7px solid #F1F1F1;"> -->
                            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/student-5266576-4403850.png"
                                class="student-image-5" alt="student image" style="outline: 7px solid #F1F1F1;">
                            <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                            <div class="rounded-image-cornar-1"></div>
                            <div class="rounded-image-cornar-2"></div>
                        </div>
                        <h3 class="student-name-5" contenteditable="true">Jenil Patel</h3>
                        <p class="branch-name-5"><span
                                class="badge badge-success">Hydarabad</span><span>2022-2023</span>
                        </p>
                    </div>
                    <div class="user-details-box-4">
                        <div class="student-details-section-6">
                            <i class="material-icons">menu_book</i>
                            <p contenteditable="true">V ~ Day School</p>
                        </div>
                        <div class="student-details-section-6">
                            <i class="material-icons">email</i>
                            <p contenteditable="true">Test@gmail.com</p>
                        </div>
                        <div class="student-details-section-6">
                            <i class="material-icons">call</i>
                            <p contenteditable="true">3214569872</p>
                        </div>
                    </div>
                    <div class="button-section mb-3">
                        <button mat-raised-button class="fill-details-button-2">Fill Details</button>
                    </div>
                    <button class="btn edit-button-1"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- ==============================================================================================================================================================
                                                        Apply For New Admission Form Design 1,2 
=============================================================================================================================================================== -->
    <!-- <div class="apply-online-body">
    <div class="apply-form-body">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text">Apply For New Admission</div>
        <input type="text" class="input-fileds form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds form-control" placeholder="Mobile No">
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button">Cnacel</button>
            <button type="button" class="btn apply-button">Apply</button>
        </div>
        <div class="fill-lead-section">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>


    <div class="apply-form-body">
        <div class="eaducation-icon-section-2"><i class="material-icons">school</i></div>
        <div class="apply-admission-text">Apply For New Admission</div>
        <input type="text" class="input-fileds form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds form-control" placeholder="Mobile No">
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button-2">Cnacel</button>
            <button type="button" class="btn apply-button-2">Apply</button>
        </div>
        <div class="fill-lead-section">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>
</div> -->



    <!-- ==============================================================================================================================================================
                                                        Apply For New Admission Form Design 3,4
=============================================================================================================================================================== -->
    <!-- <div class="apply-online-body">
    <div class="apply-form-body-2">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <input type="text" class="input-fileds form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds form-control" placeholder="Mobile No">
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button">Cnacel</button>
            <button type="button" class="btn apply-button">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>



    <div class="apply-form-body-3">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <input type="text" class="input-fileds form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds form-control" placeholder="Mobile No">
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button">Cnacel</button>
            <button type="button" class="btn apply-button">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>
</div> -->



    <!-- ==============================================================================================================================================================
                                                        Apply For New Admission Form Design 5,6
=============================================================================================================================================================== -->
    <!-- <div class="apply-online-body">
    <div class="apply-form-body-4">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <input type="text" class="input-fileds form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds form-control" placeholder="Mobile No">
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button">Cnacel</button>
            <button type="button" class="btn apply-button">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div> -->

    <!--------- Form Design 6 ---------->
    <!-- <div class="apply-form-body-5">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <input type="text" class="input-fileds-6 form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds-6 form-control" placeholder="Mobile No">
        <select class='custom-select-box-6 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box-6 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box-6 remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button-6">Cnacel</button>
            <button type="button" class="btn apply-button-6">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div> -->

    <!--------- Form Design 6 ---------->
    <!-- <div class="apply-form-body-5">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <mat-form-field appearance="fill" class="custom-mat-field">
            <mat-label>Name as Per Previous School Official Record</mat-label>
            <input matInput required class="mat-input-box">
        </mat-form-field>
        <mat-form-field appearance="fill" class="custom-mat-field">
            <mat-label>Mobile No</mat-label>
            <input matInput required class="mat-input-box">
        </mat-form-field>
        <mat-form-field appearance="fill" class="custom-mat-field">
            <mat-label>Select Branch</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="custom-mat-field">
            <mat-label>Select Packge</mat-label>
            <mat-select>
                <mat-option *ngFor="let packge of Packges" [value]="packge.packgeName">
                    {{packge.packgeName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="custom-mat-field">
            <mat-label>Select Standard</mat-label>
            <mat-select>
                <mat-option *ngFor="let standard of Standards" [value]="standard.standardName">
                    {{standard.standardName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="checkbox-section-2 mt-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button-6">Cnacel</button>
            <button type="button" class="btn apply-button-6">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>
</div> -->





    <!-- ==============================================================================================================================================================
                                                        Apply For New Admission Form Design 7,8
=============================================================================================================================================================== -->
    <!-- <div class="apply-online-body">
    <div class="apply-form-body-6">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <input type="text" class="input-fileds-6 form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds-6 form-control" placeholder="Mobile No">
        <select class='custom-select-box-6 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box-6 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box-6 remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button-6">Cnacel</button>
            <button type="button" class="btn apply-button-6">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>





    <div class="apply-form-body-7">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <input type="text" class="input-fileds-8 form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds-8 form-control" placeholder="Mobile No">
        <select class='custom-select-box-8 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box-8 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box-8 remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button-6">Cnacel</button>
            <button type="button" class="btn apply-button-6">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>
</div> -->





    <!-- ==============================================================================================================================================================
                                                        Apply For New Admission Form Design 9,10
=============================================================================================================================================================== -->
    <!-- <div class="apply-online-body">
    <div class="apply-form-body-7">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <input type="text" class="input-fileds-9 form-control" placeholder="Candidate Name">
        <input type="text" class="input-fileds-9 form-control" placeholder="Mobile No">
        <select class='custom-select-box-9 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Branch</option>
            <option *ngFor="let food of foods">{{food.viewValue}}</option>
        </select>
        <select class='custom-select-box-9 remove-arrow form-control' required>
            <option value='' disabled selected hidden>Select Packge</option>
            <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
        </select>
        <select class='custom-select-box-9 remove-arrow form-control pre-scrollable' required>
            <option value='' disabled selected hidden>Select Standard</option>
            <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
        </select>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button-6">Cnacel</button>
            <button type="button" class="btn apply-button-6">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>




    <div class="apply-form-body-9">
        <div class="eaducation-icon-section"><i class="material-icons">school</i></div>
        <div class="apply-admission-text-2">Apply For New Admission</div>
        <div class="input-field-outer">
            <i class="material-icons">person</i>
            <input type="text" class="input-fileds-10 form-control" placeholder="Candidate Name">
        </div>
        <div class="input-field-outer">
            <i class="material-icons">call</i>
            <input type="text" class="input-fileds-10 form-control" placeholder="Mobile No">
        </div>
        <div class="input-field-outer">
            <i class="material-icons">location_city</i>
            <select class='custom-select-box-10 remove-arrow form-control' required>
                <option value='' disabled selected hidden>Select Branch</option>
                <option *ngFor="let food of foods">{{food.viewValue}}</option>
            </select>
        </div>
        <div class="input-field-outer">
            <i class="material-icons">featured_play_list</i>
            <select class='custom-select-box-10 remove-arrow form-control' required>
                <option value='' disabled selected hidden>Select Packge</option>
                <option *ngFor="let packge of Packges">{{packge.packgeName}}</option>
            </select>
        </div>
        <div class="input-field-outer">
            <i class="material-icons">class</i>
            <select class='custom-select-box-10 remove-arrow form-control pre-scrollable' required>
                <option value='' disabled selected hidden>Select Standard</option>
                <option *ngFor="let standard of Standards">{{standard.standardName}}</option>
            </select>
        </div>
        <div class="checkbox-section-2">
            <div class="form-check">
                <input type="checkbox" class="form-check-input custom-checkbox" id="check2" name="option2"
                    value="something" style="margin-top: -11px;">
            </div>
            <p>Term & Condition</p>
            <div><i class="material-icons info-icon">info</i></div>
        </div>
        <div class="buttons-section">
            <button type="button" class="btn cancel-button-6" style="border-radius: 0;">Cnacel</button>
            <button type="button" class="btn apply-button-6" style="border-radius: 0;">Apply</button>
        </div>
        <div class="fill-lead-section-2">
            <p>Fill Other Lead : </p>
            <a href="">Click Here</a>
        </div>
    </div>
</div> -->









    <!-- ==============================================================================================================================================================
                                                                        Stpper Form Design 1
=============================================================================================================================================================== -->
    <!-- <div class="apply-online-body">
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="true">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Applications Details</ng-template>
                <div class="form-fields-group">
                    <mat-form-field appearance="fill" class="mat-form-fields">
                        <mat-label>Select an option</mat-label>
                        <mat-select formControlName="branch">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="mat-form-fields">
                        <mat-label>Select an option</mat-label>
                        <mat-select formControlName="acadamicYear">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="mat-form-fields">
                        <mat-label>Select an option</mat-label>
                        <mat-select formControlName="standard">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Student Profile</ng-template>
                <div class="form-fields-group">
                    <mat-form-field appearance="fill" class="mat-form-fields" style="grid-column:span 3;">
                        <mat-label>Name as Per Previous School Official Record</mat-label>
                        <input matInput formControlName="previousSchool" placeholder="Ex. 1 Main St, New York, NY"
                            required>
                    </mat-form-field>
                    <mat-form-field class="custom-time-picker mat-form-fields">
                        <mat-label>Date Of Birth</mat-label>
                        <input type="text" matInput [owlDateTime]="dt42" [owlDateTimeTrigger]="dt42"
                            class="mat-custom-date-picker" formControlName="dateOfBirth">
                        <i class="material-icons time-icon-section time-icon" style="font-size: 24px;"
                            [owlDateTimeTrigger]="dt42">&#xe916;</i>
                        <owl-date-time #dt42 [pickerType]="'calendar'"></owl-date-time>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="mat-form-fields">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="mat-form-fields">
                        <mat-label>Nationality</mat-label>
                        <input matInput formControlName="nationality" placeholder="Ex. 1 Main St, New York, NY"
                            required>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div> -->