.full-body {
    padding: 10px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.formfields-group {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: 10px 0;
}

.stapperFormFields {
    margin: 0 10px;
    width: auto;
}

.email-field {
    grid-column: span 2;
}

.buttons-section {
    padding: 0 10px;
    width: 50%;
}

.button {
    background-color: #3f51b5;
    color: white;
    width: 100%;
}

.formsvalues {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.input-group {
    height: 50%;
}

.time-picker-text {
    position: relative;
    top: -30px;
    left: 90%;
}

.svg-container {
    text-align: center;
    margin: 20px auto;
}

.svg-container>p {
    color: #219a00;
    font-size: 20px;
    font-weight: 700;
}

@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
    .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .6s
    }

    .circle {
        fill-opacity: 0;
        stroke: #219a00;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;
    }
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }

    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {

    0%,
    100% {
        stroke-opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

// Styles
:root {
    --theme-color: var(--color-purple);
}

@media screen and (max-width:600px) {
    .formfields-group {
        grid-template-columns: repeat(2, 50%);
    }

    .formsvalues {
        grid-template-columns: repeat(2, 50%);
    }

    .email-field {
        grid-column: span 1;
    }

    .password-field {
        grid-column: span 2;
    }
}