.full-body {
    padding: 10px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.formfields-group {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: 10px 0;
}

.stapperFormFields {
    margin: 0 10px;
    width: auto;
}

.buttons-section {
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
}

.button {
    color: white;
    width: 20%;
    margin: 0 10px
}

.formsvalues {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.input-group {
    height: 50%;
}

.time-picker-text {
    position: relative;
    top: -30px;
    left: 90%;
}

.svg-container {
    text-align: center;
    margin: 20px auto;
}

.svg-container>p {
    color: #219a00;
    font-size: 20px;
    font-weight: 700;
}

.example-full-width-1 {
    position: relative;
}

.time-icon-section {
    position: absolute;
    right: 0;
    left: 95%;
    top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
    .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .6s
    }

    .circle {
        fill-opacity: 0;
        stroke: #219a00;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;
    }
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }

    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {

    0%,
    100% {
        stroke-opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

// Styles
:root {
    --theme-color: var(--color-purple);
}

@media screen and (max-width:1400px) {
    .time-icon-section {
        left: 90%;
    }
}

@media screen and (max-width:600px) {
    .formfields-group {
        grid-template-columns: repeat(2, 50%);
    }

    .formsvalues {
        grid-template-columns: repeat(2, 50%);
    }

    .email-field {
        grid-column: span 1;
    }

    .password-field {
        grid-column: span 2;
    }

    .button {
        width: 40%;
    }

    .time-icon-section {
        left: 80%;
    }
}


/* ========== Mat Stapper Header Edit Icon And Done Icon ============ */
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: rgb(11, 139, 11) !important;
    transition: all 0.5s ease-in-out;
}

/* ============ Header Icon Effect ============ */
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #3f51b5;
    color: #fff;
    outline: 2px solid #3f51b5;
    outline-offset: 2px;
}

/* ========== Set Done Icon ============ */
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    // background-image: url(https://static.vecteezy.com/system/resources/previews/009/664/308/non_2x/tick-icon-transparent-free-png.png);
    // background-image: url(https://static.vecteezy.com/system/resources/previews/009/664/305/original/tick-icon-transparent-free-png.png);
    // background-image: url(https://p.kindpng.com/picc/s/578-5787278_white-check-mark-icon-hd-png-download.png);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png);
    background-size: 13px;
    background-position-y: 5px;
    background-position-x: 5px;
    transform: rotate(20deg);
    background-repeat: no-repeat;
    outline: 2px solid green;
    outline-offset: 2px;
}

/* ============ Remove Edit Icon ============ */
::ng-deep .mat-step-icon .mat-icon {
    display: none;
}

::ng-deep .mat-step-text-label {
    color: #fff;
}

::ng-deep .mat-stepper-vertical-line::before {
    background: #ffff;
}

mat-stepper {
    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(4px);
}

.stapper-background-image {
    // background-image: url(https://cdn.pixabay.com/photo/2017/03/25/17/55/colorful-2174045__340.png);
    background-image: url(https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg);
    background-size: cover;
    padding: 30px;
    background-position: 0px -1750px;
}


.done-logo {
    transition: all 0.5s ease-in-out;
    background-color: #219a00;
    width: max-content;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    margin: 0 0 0 auto;
    transform: rotate(360deg);
}

.done-logo:hover {
    transform: rotate(360deg);
}