<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar-heading">My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon navbar-buttons" routerLink="Flex-box-example"
    routerLinkActive="active-button">
    <i class="material-icons">&#xe8ec;</i>
  </button>
  <button mat-icon-button class="example-icon navbar-buttons" routerLink="owl-date-picker"
    routerLinkActive="active-button">
    <i class="material-icons">&#xe916;</i>
  </button>
  <button mat-icon-button class="example-icon navbar-buttons" routerLink="reactiveForm"
    routerLinkActive="active-button">
    <i class="material-icons">&#xe7fe;</i>
  </button>
  <button mat-icon-button class="example-icon navbar-buttons" routerLink="stapperForm" routerLinkActive="active-button">
    <i class="material-icons">&#xef65;</i>
  </button>
  <button mat-icon-button class="example-icon navbar-buttons" routerLink="userdetails" routerLinkActive="active-button">
    <i class="material-icons">&#xe853;</i>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>