<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLink="reactiveForm">
    <i class="material-icons">&#xe7fe;</i>
  </button>
  <button mat-icon-button class="example-icon" routerLink="stapperForm">
    <i class="material-icons">&#xef65;</i>
  </button>
  <button mat-icon-button class="example-icon" routerLink="userdetails">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>