<div class="full-body">
    <table class="table table-light table-striped custom-table table-responsive-md">
        <thead>
            <tr>
                <th colspan="8" class="text-center table-header">Reactive Form User Details</th>
            </tr>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Mobile No</th>
                <th>Email Address</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of databaseValue">
                <td>{{data.id}}</td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.birthDate | date:'dd-MM-yyyy'}}</td>
                <td>{{data.mobileNo}}</td>
                <td>{{data.emailAddress}}</td>
                <td>{{data.password}}</td>
                <td class="d-flex">
                    <button mat-mini-fab class="btn btn-danger" class="mx-3" (click)="deleteUser(data.id)">
                        <i class="material-icons">&#xe872;</i>
                    </button>
                    <button mat-mini-fab color="primary" (click)="editUserDetails(data)"
                        routerLink="/update/{{data.id}}">
                        <i class="material-icons">&#xe3c9;</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button-section">
        <div class="flex-item">
            <button mat-mini-fab color="primary" (click)="addNewData1()">
                <i class="material-icons">&#xe145;</i>
            </button>
        </div>
    </div>

    <table class="table table-light table-striped custom-table table-responsive-xl">
        <thead>
            <tr>
                <th colspan="13" class="text-center table-header">Reactive Form With Stapper User Details</th>
            </tr>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Mobile No</th>
                <th>Email Address</th>
                <th>Password</th>
                <th>State</th>
                <th>City</th>
                <th>Pin Code</th>
                <th>Area</th>
                <th>Lend Mark</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data2 of databaseValue2">
                <td>{{data2.id}}</td>
                <td>{{data2.firstName}}</td>
                <td>{{data2.lastName}}</td>
                <td>{{data2.birthDate | date:'dd-MM-yyyy'}}</td>
                <td>{{data2.mobileNo}}</td>
                <td>{{data2.emailAddress}}</td>
                <td>{{data2.password}}</td>
                <td>{{data2.State}}</td>
                <td>{{data2.City}}</td>
                <td>{{data2.pinCode}}</td>
                <td>{{data2.Area}}</td>
                <td>{{data2.lendMark}}</td>
                <td class="d-flex">
                    <button mat-mini-fab class="btn btn-danger small-buttons mx-3" (click)="deleteUser2(data2.id)">
                        <i class="material-icons">&#xe872;</i>
                    </button>
                    <button mat-mini-fab color="primary" class="small-buttons" (click)="editUserDetilas2(data2)"
                        routerLink="/update2/{{data2.id}}">
                        <i class="material-icons">&#xe3c9;</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button-section">
        <div class="flex-item">
            <button mat-mini-fab color="primary" (click)="addNewData2()">
                <i class="material-icons">&#xe145;</i>
            </button>
        </div>
    </div>
</div>