<div class="grid">
    <div class="boxes">
        <!------- Date And Time Picker -------->
        <div class="title">Date And Time Picker</div>
        <hr class="custom-hr">
        <div class="my-1">
            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
            <owl-date-time #dt1></owl-date-time>
        </div>
        <div class="my-1">
            <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time" class="form-control">
            <owl-date-time #dt2></owl-date-time>
        </div>
        <div class="my-1">
            <input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" placeholder="Date Time"
                class="form-control form-control-sm">
            <owl-date-time #dt3></owl-date-time>
        </div>
    </div>
    <div class="boxes">
        <!------- Date And Time Picker With Icon -------->
        <div class="title">Date And Time Picker With Icon</div>
        <hr class="custom-hr">
        <div class="input-group my-1">
            <input [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" placeholder="Date Time">
            <owl-date-time #dt4></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt4">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5" placeholder="Date Time">
            <owl-date-time #dt5></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt5">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt6" [owlDateTimeTrigger]="dt6" placeholder="Date Time"
                class="form-control form-control-sm">
            <owl-date-time #dt6></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt6">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt7" [owlDateTimeTrigger]="dt7" placeholder="Date Time"
                class="form-control form-control-sm">
            <owl-date-time #dt7></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt7">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt8" [owlDateTimeTrigger]="dt8" placeholder="Date Time" class="form-control">
            <owl-date-time #dt8></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt8">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt9" [owlDateTimeTrigger]="dt9" placeholder="Date Time" class="form-control">
            <owl-date-time #dt9></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt9">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <!------- Date Picker Range -------->
        <div class="title">Range Date Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1">
            <input [owlDateTime]="dt91" [owlDateTimeTrigger]="dt91" [selectMode]="'range'" placeholder="Date Time">
            <owl-date-time #dt91></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt91">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt10" [owlDateTimeTrigger]="dt10" [selectMode]="'range'" placeholder="Date Time">
            <owl-date-time #dt10></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt10">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" [selectMode]="'range'" placeholder="Date Time"
                class="form-control form-control-sm">
            <owl-date-time #dt11></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt11">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt12" [owlDateTimeTrigger]="dt12" [selectMode]="'range'" placeholder="Date Time"
                class="form-control form-control-sm">
            <owl-date-time #dt12></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt12">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt13" [owlDateTimeTrigger]="dt13" [selectMode]="'range'" placeholder="Date Time"
                class="form-control">
            <owl-date-time #dt13></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt13">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt14" [owlDateTimeTrigger]="dt14" [selectMode]="'range'" placeholder="Date Time"
                class="form-control">
            <owl-date-time #dt14></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt14">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <!-------- Min Max Date Restriction --------->
        <div class="title">Min and Max Restriction</div>
        <hr class="custom-hr">
        <div class="input-group my-1">
            <input [owlDateTime]="dt16" [owlDateTimeTrigger]="dt16" [min]="min" [max]="max" placeholder="Date Time">
            <owl-date-time #dt16 [startAt]="startAt"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt16">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt17" [owlDateTimeTrigger]="dt17" [min]="min" [max]="max" placeholder="Date Time">
            <owl-date-time #dt17 [startAt]="startAt"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt17">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt18" [owlDateTimeTrigger]="dt18" [min]="min" [max]="max"
                class="form-control form-control-sm" placeholder="Date Time">
            <owl-date-time #dt18 [startAt]="startAt"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt18">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt18" [owlDateTimeTrigger]="dt18" [min]="min" [max]="max"
                class="form-control form-control-sm" placeholder="Date Time">
            <owl-date-time #dt18 [startAt]="startAt"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt18">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt19" [owlDateTimeTrigger]="dt19" [min]="min" [max]="max" class="form-control"
                placeholder="Date Time">
            <owl-date-time #dt19 [startAt]="startAt"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt19">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe935;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt20" [owlDateTimeTrigger]="dt20" [min]="min" [max]="max" class="form-control"
                placeholder="Date Time">
            <owl-date-time #dt20 [startAt]="startAt"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt20">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <!-------- Only Time Picker---------->
        <div class="title">Time Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1">
            <input [owlDateTime]="dt21" [owlDateTimeTrigger]="dt21" placeholder="Time">
            <owl-date-time #dt21 [pickerType]="'timer'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt21">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe192;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt22" [owlDateTimeTrigger]="dt22" placeholder="Time"
                class="form-control form-control-sm">
            <owl-date-time #dt22 [pickerType]="'timer'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt22">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe192;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt23" [owlDateTimeTrigger]="dt23" placeholder="Time" class="form-control">
            <owl-date-time #dt23 [pickerType]="'timer'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt23">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe192;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <!-------- Only Date Picker ---------->
        <div class="title">Date Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1">
            <input [owlDateTime]="dt24" [owlDateTimeTrigger]="dt24" placeholder="Date">
            <owl-date-time #dt24 [pickerType]="'calendar'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt24">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt25" [owlDateTimeTrigger]="dt25" placeholder="Date"
                class="form-control form-control-sm">
            <owl-date-time #dt25 [pickerType]="'calendar'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt25">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1">
            <input [owlDateTime]="dt26" [owlDateTimeTrigger]="dt26" placeholder="Date" class="form-control">
            <owl-date-time #dt26 [pickerType]="'calendar'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt26">
                <span class="input-group-text" style="margin: 0; padding:0 10px;"><i class="material-icons"
                        style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <!-------- Custom Time Picker --------->
        <div class="title">Custom Time Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt27" [owlDateTimeTrigger]="dt27" placeholder="Time"
                class="form-control form-control-sm time-picker">
            <owl-date-time #dt27 [pickerType]="'timer'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt27">
                <span class="input-group-text time-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons time-icon" style="font-size: 24px;">&#xe192;</i></span>
            </div>
        </div>
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt28" [owlDateTimeTrigger]="dt28" placeholder="Time" class="form-control time-picker">
            <owl-date-time #dt28 [pickerType]="'timer'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt28">
                <span class="input-group-text time-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons time-icon" style="font-size: 24px;">&#xe192;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <!--------- Custom Date Piker --------->
        <div class="title">Custom Date Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt29" [owlDateTimeTrigger]="dt29" placeholder="Date" class=" form-control
                form-control-sm date-picker">
            <owl-date-time #dt29 [pickerType]="'calendar'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt29">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt30" [owlDateTimeTrigger]="dt30" placeholder="Date" class="form-control date-picker">
            <owl-date-time #dt30 [pickerType]="'calendar'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt30">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="title">Open a Picker as a Dialog</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt32" [owlDateTimeTrigger]="dt32" placeholder="Date Time"
                class="form-control date-picker">
            <owl-date-time #dt32 [pickerMode]="'dialog'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt32">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="title">Date Time Picker Rang From & To</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt33" [owlDateTimeTrigger]="dt33" placeholder="Date Time" [selectMode]="'rangeTo'"
                class="form-control form-control-sm date-picker">
            <owl-date-time #dt33></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt33">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt34" [owlDateTimeTrigger]="dt34" placeholder="Date Time" [selectMode]="'rangeFrom'"
                class=" form-control form-control-sm date-picker">
            <owl-date-time #dt34></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt34">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="title">Start View</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt35" [owlDateTimeTrigger]="dt35" placeholder="Date Time"
                class="form-control form-control-sm date-picker">
            <owl-date-time #dt35 [pickerType]="'calendar'" [startView]="'multi-years'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt35">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt36" [owlDateTimeTrigger]="dt36" placeholder="Date Time"
                class="form-control form-control-sm date-picker">
            <owl-date-time #dt36 [pickerType]="'calendar'" [startView]="'year'"></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt36">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="title">Custom Date & Time Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt37" [owlDateTimeTrigger]="dt37" placeholder="Date Time"
                class="form-control form-control-sm custom-date-picker-input">
            <owl-date-time #dt37></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt37">
                <span class="input-group-text date-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons date-icon" style="font-size: 24px;">&#xe192;</i></span>
            </div>
        </div>

        <!----------- Display Only Time -------------->
        <div class="input-group my-1">
            <input [owlDateTime]="dt38" [owlDateTimeTrigger]="dt38" placeholder="Date Time"
                class="form-control form-control-sm custom-date-picker-input-2">
            <owl-date-time #dt38></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt38">
                <span class="input-group-text" style="margin: 0; padding:0 10px;">
                    <i class="material-icons date-icon" style="font-size: 24px;">&#xe192;</i>
                </span>
            </div>
        </div>
    </div>
    <div class="boxes">
        <div class="title">Time Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt39" [owlDateTimeTrigger]="dt39" placeholder="Time"
                class="form-control form-control-sm custom-date-picker-input" #timePicker>
            <owl-date-time #dt39></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt39">
                <span class="input-group-text time-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons time-icon" style="font-size: 24px;">&#xe192;</i></span>
            </div>
        </div>
        <button class="btn btn-info btn-sm" (click)="submitfun1(timePicker.value)">Submit</button>
        <p>{{date1}}</p>
    </div>
    <div class="boxes">
        <div class="title">Time Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt40" [owlDateTimeTrigger]="dt40" placeholder="Date"
                class="form-control form-control-sm custom-date-picker-input-3" #timePicker2>
            <owl-date-time #dt40></owl-date-time>
            <div class="input-group-append" [owlDateTimeTrigger]="dt40">
                <span class="input-group-text time-picker-text" style="margin: 0; padding:0 10px;"><i
                        class="material-icons time-icon" style="font-size: 24px;">&#xe916;</i></span>
            </div>
        </div>
        <button class="btn btn-info btn-sm" (click)="submitfun2(timePicker2.value)">Submit</button>
        <p>{{date2}}</p>
    </div>
    <div class="boxes">
        <div class="title">Time Picker</div>
        <hr class="custom-hr">
        <div class="input-group my-1 custom-date-picker">
            <input [owlDateTime]="dt41" [owlDateTimeTrigger]="dt41" placeholder="Date"
                class="form-control form-control-sm custom-date-picker-input-3" #timePicker3>
            <owl-date-time #dt41 [pickerType]="'timer'"></owl-date-time>
            <span class="input-group-text time-picker-text" style="margin: 0; padding:0 10px;"
                [owlDateTimeTrigger]="dt41"><i class="material-icons time-icon"
                    style="font-size: 24px;">&#xe192;</i></span>
        </div>
        <button class="btn btn-info btn-sm" (click)="submitfun3(timePicker3.value)">Submit</button>
        <p>{{date3}}</p>
    </div>
</div>