<!-- <div class="admisiion-form-full-body">
    <div class="prifile-section">
        <div class="profile-bg-image">
            <div class="student-information-group">
                <div>
                    <i class="material-icons header-icon">location_pin</i>
                    <p class="m-0 header-text">Hydarabad</p>
                </div>
                <div>
                    <i class="material-icons header-icon">location_pin</i>
                    <p class="m-0 header-text">2023 - 2024</p>
                </div>
                <div>
                    <i class="material-icons header-icon">call</i>
                    <p class="m-0 header-text">6234567563</p>
                </div>
                <div>
                    <i class="material-icons header-icon">book</i>
                    <p class="m-0 header-text">Day School</p>
                </div>
                <div>
                    <i class="material-icons header-icon">email</i>
                    <p class="m-0 header-text">Test@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="header-section">
            <div class="student-image-box">
                <div class="student-image-and-icon">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/student-5266576-4403850.png?f=webp"
                        class="student-image" alt="student image">
                    <div class="profile-img-btn"><i class="material-icons">camera_alt</i></div>
                </div>
                <p>Jenil Patel</p>
                <p>Vll</p>
            </div>
            <div class="student-info-groups">
                <div class="student-details-section">
                    <i class="material-icons header-icon">location_pin</i>
                    <p>Hydarabad</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">date_range</i>
                    <p>2023 - 2024</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">call</i>
                    <p>6234567563</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">book</i>
                    <p>Day School</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">email</i>
                    <p>Test@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-header">
        <span>Admission Details</span>
        <div class="d-flex">
            <div class="header-boxes">Pay Fee : <span class="badge badge-danger"><i
                        class="material-icons my-1">attach_money</i>100 Due</span></div>
            <div class="header-boxes">Pay Fee : <span class="badge badge-danger"><i
                        class="material-icons my-1">attach_money</i>100 Due</span></div>
            <div class="header-boxes">Status : <div>Scheduled</div>
            </div>
            <div class="header-boxes">App No : <div class="app-no">BDR/01250</div>
            </div>
            <button class="download-btn" mat-raised-button color="primary"><i
                    class="material-icons mr-1">cloud_download</i>
                Download Form</button>
        </div>
    </div>
</div> -->


<div class="form-body">
    <!-- Form Header -->
    <div class="form-header">
        <div class="header-bg-image">
            <div class="header-info-groups">
                <div class="header-details-section">
                    <i class="material-icons header-icon">location_pin</i>
                    <p>Hydarabad</p>
                </div>
                <div class="header-details-section">
                    <i class="material-icons header-icon">date_range</i>
                    <p>2023 - 2024</p>
                </div>
                <div class="header-details-section">
                    <i class="material-icons header-icon">call</i>
                    <p>6234567563</p>
                </div>
                <div class="header-details-section">
                    <i class="material-icons header-icon">book</i>
                    <p>Day School</p>
                </div>
                <div class="header-details-section">
                    <i class="material-icons header-icon">email</i>
                    <p>Test@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="header-information-grou">
            <div class="student-image-section">
                <div class="student-image-and-icon">
                    <img src="https://cdn3d.iconscout.com/3d/premium/thumb/student-5266576-4403850.png?f=webp"
                        class="student-image" alt="student image">
                    <div class="edit-profile-img-btn"><i class="material-icons">camera_alt</i></div>
                </div>
                <p>Jenil Patel</p>
                <p>Vll</p>
            </div>
            <div class="student-info-groups">
                <div class="student-details-section">
                    <i class="material-icons header-icon">location_pin</i>
                    <p>Hydarabad</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">date_range</i>
                    <p>2023 - 2024</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">call</i>
                    <p>6234567563</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">book</i>
                    <p>Day School</p>
                </div>
                <div class="student-details-section">
                    <i class="material-icons header-icon">email</i>
                    <p>Test@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="header-details">
            <span>Admission Details</span>
            <div class="details-box-group">
                <!-- <div class="header-boxes">App Fee : <span class="badge badge-success"><i
                            class="material-icons">attach_money</i>100 Paied</span></div> -->
                <div class="header-boxes">App Fee : <span class="badge badge-danger"><i
                            class="material-icons">attach_money</i>100 Due</span></div>
                <div class="header-boxes">Status : <div>Scheduled</div>
                </div>
                <div class="header-boxes">App No : <div class="app-no">BDR/01250</div>
                </div>
                <button class="download-btn header-boxes" mat-raised-button color="primary"><i
                        class="material-icons">cloud_download</i>
                    Download Form</button>
            </div>
        </div>
    </div>


    <!-- Form Body -->
    <div class="forms-group">

        <!-- Student Profile Form -->
        <div class="forms-body">
            <div class="forms-header">
                <i class="material-icons">person</i>
                <p>Student Profile</p>
                <button mat-fab color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
            <div class="form-content">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="user">
                </mat-form-field>
            </div>
        </div>

        <!-- Primary Contact Form -->
        <div class="forms-body">
            <div class="forms-header">
                <i class="material-icons">person</i>
                <p>Primary Contact</p>
                <button mat-fab color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>

        <!-- Student Information Form -->
        <div class="forms-body">
            <div class="forms-header">
                <i class="material-icons">school</i>
                <p>Student Information</p>
                <button mat-fab color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>