/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
    height: 100%;
    background-color: rgb(160, 179, 179);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// /* width */
// ::-webkit-scrollbar {
//     width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: rgb(255, 255, 255);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #3f51b5;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #2039c9;
// }